# Agenda
1. What are comprehensions?
2. List comprehensions
3. List comprehensions and files
4. Set comprehensions
5. Dict comprehensions
6. Nested comprehensions
7. Generator expressions

In [1]:
# I have a list of integers
# I want to create a list of those integers squared

numbers = list(range(10))
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
output = []

for one_number in numbers:
    output.append(one_number ** 2)

output

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [3]:
# What is another way to do this?
# List comprehension

[one_number ** 2 for one_number in numbers]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

## List Comprehension
Much easier to write (and understand) if we pick it apart and write it on multiple lines.

In a comprehension, the first thing that runs is the loop, and the second thing that runs is the expression.

The result of a list comprehension is a list. We have created a new list. We can pass it as an argument to a function, or assign it to a variable.

The new list is the result of evaluating our expression on every element of the list.

The output list will have the same number of elements as the input list.

In [ ]:
[one_number ** 2              # expression -- any python expression
  for one_number in numbers]  # interation -- any python loop

## When to use a loop and when to use a comprehension?

The big distinction is between getting a new value back and having side effects.

Meaning:

If you have an existing list, and you want a new list, and you can describe the mapping from the first to the second, then you should use a comprehension.

I want the list!

But... if you are assigning repeatedly, if you are modifying things repeatedly, then use a regular `for` loop.

In [4]:
# Let's say that I have a list of strings

mylist = ['abcd', 'ef', 'ghi']

# I want to have a new string, based on my list with '*' between the elements.

'*'.join(mylist)

'abcd*ef*ghi'

In [5]:
# What if I have a list of integers?

mylist = [10, 20 , 30]

'*'.join(mylist)

TypeError: sequence item 0: expected str instance, int found

In [6]:
# We have a list of integers
# We want a list of strings
# We can convert one int to one string with str()

[str(one_item)
 for one_item in mylist]

['10', '20', '30']

In [9]:
'*'.join([str(one_item)
              for one_item in mylist])

'10*20*30'

In [10]:
# I have a string and I want to capitalize the start of each word

s = 'This is a sample sentence from my tutorial'

s.title()

'This Is A Sample Sentence From My Tutorial'

In [12]:
# What if str.title() didn't exist? Could I still do something like this?
# What if, for example, I were to break the string into individual words?
# I have: a list of strings
# I want: a list of strings whose first letters are capitalized
# I can use: str.capitalize()

[one_word.capitalize()
 for one_word in s.split()]

['This', 'Is', 'A', 'Sample', 'Sentence', 'From', 'My', 'Tutorial']

In [14]:
' '.join([one_word.capitalize()
             for one_word in s.split()])

'This Is A Sample Sentence From My Tutorial'

## Exercises
1. Ask the user to enter a string containing numbers, separated by spaces. Add those numbers together as integers and print the result. it's OK to use the built-in `sum` function.
2. Ask the user to enter a string and print the length of the string, except for whitespace. it's *not* ok to use `str.replace`.

In [ ]:
s = input('Enter numbers, separated by whitespace: ').strip()

'10 20 30 40 45'

In [3]:
s

'10 20 30 40 45'

In [4]:
sum(s)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [6]:
# I have: a list of strings containing digits
# I want: the sum of the integers in that string
# I can transform one to the other with int

[int(one_item)
 for one_item in s.split()]

[10, 20, 30, 40, 45]

In [7]:
sum([int(one_item)
     for one_item in s.split()])

145

In [8]:
# find the lengths of the words (not the whitespace) in the user's input.

s = input('Enter a sentence: ').strip()

In [9]:
s

'The unexamined life is not worth living'

In [10]:
# how long is this if we ignore the whitespace

# if I use s.split(), I get a list of strings without any whitespace

# I have: a list of strings
# I want: the sum of their lengths
# I can apply: len

sum([len(one_word)
     for one_word in s.split()])

33

In [11]:
# I have a string with words
# I want to print each word with stars around it!

s = 'this is fantastic'

[print(f'*{one_word}*')
 for one_word in s.split()]

*this*
*is*
*fantastic*

[None, None, None]

The list that we get back from a comprehension contains the values that the expression returned. 

`print()` always returns `None` no matter what your print.

Moral = never use `print` within a comprehension.

In [12]:
# How about iterating over files?

[one_line
 for one_line in open('linux-etc-password.txt')]

['# This is a comment\n',
 '# You should ignore me\n',
 'root:x:0:0:root:/root:/bin/bash\n',
 'daemon:x:1:1:daemon:/usr/sbin:/usr/sbin/nologin\n',
 'bin:x:2:2:bin:/bin:/usr/sbin/nologin\n',
 'sys:x:3:3:sys:/dev:/usr/sbin/nologin\n',
 'sync:x:4:65534:sync:/bin:/bin/sync\n',
 'games:x:5:60:games:/usr/games:/usr/sbin/nologin\n',
 'man:x:6:12:man:/var/cache/man:/usr/sbin/nologin\n',
 'lp:x:7:7:lp:/var/spool/lpd:/usr/sbin/nologin\n',
 'mail:x:8:8:mail:/var/mail:/usr/sbin/nologin\n',
 '\n',
 '\n',
 '\n',
 'news:x:9:9:news:/var/spool/news:/usr/sbin/nologin\n',
 'uucp:x:10:10:uucp:/var/spool/uucp:/usr/sbin/nologin\n',
 'proxy:x:13:13:proxy:/bin:/usr/sbin/nologin\n',
 'www-data:x:33:33:www-data:/var/www:/usr/sbin/nologin\n',
 'backup:x:34:34:backup:/var/backups:/usr/sbin/nologin\n',
 'list:x:38:38:Mailing List Manager:/var/list:/usr/sbin/nologin\n',
 'irc:x:39:39:ircd:/var/run/ircd:/usr/sbin/nologin\n',
 'gnats:x:41:41:Gnats Bug-Reporting System (admin):/var/lib/gnats:/usr/sbin/nologin\n',
 '\n',
 'nobody:x:65534:65534:nobody:/nonexistent:/usr/sbin/nologin\n',
 'syslog:x:101:104::/home/syslog:/bin/false\n',
 'messagebus:x:102:106::/var/run/dbus:/bin/false\n',
 'landscape:x:103:109::/var/lib/landscape:/bin/false\n',
 'jci:x:955:955::/home/jci:/bin/bash\n',
 'sshd:x:104:65534::/var/run/sshd:/usr/sbin/nologin\n',
 'user:x:1000:1000:user,,,:/home/user:/bin/bash\n',
 'reuven:x:1001:1001:Reuven M. Lerner,,,:/home/reuven:/bin/bash\n',
 'postfix:x:105:113::/var/spool/postfix:/bin/false\n',
 'colord:x:106:116:colord colour management daemon,,,:/var/lib/colord:/bin/false\n',
 'postgres:x:107:117:PostgreSQL administrator,,,:/var/lib/postgresql:/bin/bash\n',
 'dovecot:x:108:119:Dovecot mail server,,,:/usr/lib/dovecot:/bin/false\n',
 'dovenull:x:109:120:Dovecot login user,,,:/nonexistent:/bin/false\n',
 'postgrey:x:110:121::/var/lib/postgrey:/bin/false\n',
 'debian-spamd:x:111:122::/var/lib/spamassassin:/bin/sh\n',
 'memcache:x:113:124:Memcached,,,:/nonexistent:/bin/false\n',
 'genadi:x:1002:1003:Genadi Reznichenko,,,:/home/genadi:/bin/bash\n',
 'shira:x:1003:1004:Shira Friedman,,,:/home/shira:/bin/bash\n',
 'atara:x:1004:1005:Atara Lerner-Friedman,,,:/home/atara:/bin/bash\n',
 'shikma:x:1005:1006:Shikma Lerner-Friedman,,,:/home/shikma:/bin/bash\n',
 'amotz:x:1006:1007:Amotz Lerner-Friedman,,,:/home/amotz:/bin/bash\n',
 'mysql:x:114:125:MySQL Server,,,:/nonexistent:/bin/false\n',
 'clamav:x:115:126::/var/lib/clamav:/bin/false\n',
 'amavis:x:116:127:AMaViS system user,,,:/var/lib/amavis:/bin/sh\n',
 'opendkim:x:117:128::/var/run/opendkim:/bin/false\n',
 'gitlab-redis:x:999:1009::/var/opt/gitlab/redis:/bin/nologin\n',
 'gitlab-psql:x:998:1010::/var/opt/gitlab/postgresql:/bin/sh\n',
 'git:x:1007:1008:GitLab,,,:/home/git:/bin/bash\n',
 'opendmarc:x:118:129::/var/run/opendmarc:/bin/false\n',
 'dkim-milter-python:x:119:130::/var/run/dkim-milter-python:/bin/false\n',
 'deploy:x:1008:1011:Deploy,,,:/home/deploy:/bin/bash\n',
 'redis:x:112:123:redis server,,,:/var/lib/redis:/bin/false']

In [14]:
# Can I get the user names from this password file?
# Each record contains fields
# Fields are separated by ':'
# The first field is the username

[one_line.split(':')[0]
 for one_line in open('linux-etc-password.txt')]

['# This is a comment\n',
 '# You should ignore me\n',
 'root',
 'daemon',
 'bin',
 'sys',
 'sync',
 'games',
 'man',
 'lp',
 'mail',
 '\n',
 '\n',
 '\n',
 'news',
 'uucp',
 'proxy',
 'www-data',
 'backup',
 'list',
 'irc',
 'gnats',
 '\n',
 'nobody',
 'syslog',
 'messagebus',
 'landscape',
 'jci',
 'sshd',
 'user',
 'reuven',
 'postfix',
 'colord',
 'postgres',
 'dovecot',
 'dovenull',
 'postgrey',
 'debian-spamd',
 'memcache',
 'genadi',
 'shira',
 'atara',
 'shikma',
 'amotz',
 'mysql',
 'clamav',
 'amavis',
 'opendkim',
 'gitlab-redis',
 'gitlab-psql',
 'git',
 'opendmarc',
 'dkim-milter-python',
 'deploy',
 'redis']

In [16]:
[one_line.split(':')[0]                            # expression -- SELECT
 for one_line in open('linux-etc-password.txt')    # iteration -- FROM
 if ':' in one_line]                               # condition -- WHERE

['root',
 'daemon',
 'bin',
 'sys',
 'sync',
 'games',
 'man',
 'lp',
 'mail',
 'news',
 'uucp',
 'proxy',
 'www-data',
 'backup',
 'list',
 'irc',
 'gnats',
 'nobody',
 'syslog',
 'messagebus',
 'landscape',
 'jci',
 'sshd',
 'user',
 'reuven',
 'postfix',
 'colord',
 'postgres',
 'dovecot',
 'dovenull',
 'postgrey',
 'debian-spamd',
 'memcache',
 'genadi',
 'shira',
 'atara',
 'shikma',
 'amotz',
 'mysql',
 'clamav',
 'amavis',
 'opendkim',
 'gitlab-redis',
 'gitlab-psql',
 'git',
 'opendmarc',
 'dkim-milter-python',
 'deploy',
 'redis']

In [17]:
!cat nums.txt

'cat' is not recognized as an internal or external command,
operable program or batch file.

## Exercise: sum numbers

Use a comprehension to read through `nums.txt` and sum the numbers it contains.

Each line contains either zero integers or one integer. The integer might well have whitespace before or after it.

In [25]:
sum([int(one_line.strip())
 for one_line in open('nums.txt')
 if one_line.strip() != ''])

83

In [ ]:
# Another way to do it
sum([int(one_line.strip())
 for one_line in open('nums.txt')
 if one_line.strip()])  # this will be false if blank

83

In [29]:
# I want to know how many vowels are in a string
# How can I use a comprehension for that?

s = 'whatever'

len([letter 
     for letter in s 
     if letter in 'aeiou'])

3

In [30]:
def line_to_dict(one_line):
    brand, color, size = one_line.strip().split('\t')
    return {'brand':brand,
            'color':color,
            'size':size}

[line_to_dict(one_line)
 for one_line in open('shoe-data.txt')]

[{'brand': 'Adidas', 'color': 'orange', 'size': '43'},
 {'brand': 'Nike', 'color': 'black', 'size': '41'},
 {'brand': 'Adidas', 'color': 'black', 'size': '39'},
 {'brand': 'New Balance', 'color': 'pink', 'size': '41'},
 {'brand': 'Nike', 'color': 'white', 'size': '44'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '38'},
 {'brand': 'Nike', 'color': 'pink', 'size': '44'},
 {'brand': 'Adidas', 'color': 'pink', 'size': '44'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '39'},
 {'brand': 'New Balance', 'color': 'black', 'size': '43'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '44'},
 {'brand': 'Nike', 'color': 'black', 'size': '41'},
 {'brand': 'Adidas', 'color': 'orange', 'size': '37'},
 {'brand': 'Adidas', 'color': 'black', 'size': '38'},
 {'brand': 'Adidas', 'color': 'pink', 'size': '41'},
 {'brand': 'Adidas', 'color': 'white', 'size': '36'},
 {'brand': 'Adidas', 'color': 'orange', 'size': '36'},
 {'brand': 'Nike', 'color': 'pink', 'size': '41'},
 {'brand': 'Adidas', 'color': 'pink', 'size': '35'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '37'},
 {'brand': 'Nike', 'color': 'pink', 'size': '43'},
 {'brand': 'Nike', 'color': 'black', 'size': '43'},
 {'brand': 'Nike', 'color': 'black', 'size': '42'},
 {'brand': 'Nike', 'color': 'black', 'size': '35'},
 {'brand': 'Adidas', 'color': 'black', 'size': '41'},
 {'brand': 'New Balance', 'color': 'pink', 'size': '40'},
 {'brand': 'Adidas', 'color': 'white', 'size': '35'},
 {'brand': 'New Balance', 'color': 'pink', 'size': '41'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '41'},
 {'brand': 'Adidas', 'color': 'orange', 'size': '40'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '40'},
 {'brand': 'New Balance', 'color': 'white', 'size': '44'},
 {'brand': 'New Balance', 'color': 'pink', 'size': '40'},
 {'brand': 'Nike', 'color': 'black', 'size': '43'},
 {'brand': 'Nike', 'color': 'pink', 'size': '36'},
 {'brand': 'New Balance', 'color': 'white', 'size': '39'},
 {'brand': 'Nike', 'color': 'black', 'size': '42'},
 {'brand': 'Adidas', 'color': 'black', 'size': '41'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '40'},
 {'brand': 'New Balance', 'color': 'black', 'size': '40'},
 {'brand': 'Nike', 'color': 'white', 'size': '37'},
 {'brand': 'Adidas', 'color': 'black', 'size': '39'},
 {'brand': 'Adidas', 'color': 'black', 'size': '40'},
 {'brand': 'Adidas', 'color': 'orange', 'size': '38'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '39'},
 {'brand': 'Nike', 'color': 'black', 'size': '35'},
 {'brand': 'Adidas', 'color': 'white', 'size': '39'},
 {'brand': 'Nike', 'color': 'white', 'size': '37'},
 {'brand': 'Adidas', 'color': 'orange', 'size': '37'},
 {'brand': 'Adidas', 'color': 'pink', 'size': '35'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '41'},
 {'brand': 'Nike', 'color': 'pink', 'size': '44'},
 {'brand': 'Nike', 'color': 'pink', 'size': '38'},
 {'brand': 'Adidas', 'color': 'black', 'size': '39'},
 {'brand': 'New Balance', 'color': 'white', 'size': '35'},
 {'brand': 'Nike', 'color': 'pink', 'size': '40'},
 {'brand': 'Nike', 'color': 'white', 'size': '44'},
 {'brand': 'Nike', 'color': 'orange', 'size': '38'},
 {'brand': 'Adidas', 'color': 'orange', 'size': '42'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '43'},
 {'brand': 'Adidas', 'color': 'pink', 'size': '39'},
 {'brand': 'Adidas', 'color': 'pink', 'size': '41'},
 {'brand': 'Adidas', 'color': 'pink', 'size': '39'},
 {'brand': 'Nike', 'color': 'white', 'size': '37'},
 {'brand': 'Nike', 'color': 'orange', 'size': '38'},
 {'brand': 'Adidas', 'color': 'orange', 'size': '39'},
 {'brand': 'Nike', 'color': 'pink', 'size': '40'},
 {'brand': 'Adidas', 'color': 'white', 'size': '36'},
 {'brand': 'Nike', 'color': 'orange', 'size': '40'},
 {'brand': 'New Balance', 'color': 'pink', 'size': '40'},
 {'brand': 'New Balance', 'color': 'black', 'size': '40'},
 {'brand': 'New Balance', 'color': 'pink', 'size': '40'},
 {'brand': 'Adidas', 'color': 'pink', 'size': '41'},
 {'brand': 'Nike', 'color': 'pink', 'size': '40'},
 {'brand': 'Nike', 'color': 'black', 'size': '41'},
 {'brand': 'Nike', 'color': 'black', 'size': '39'},
 {'brand': 'New Balance', 'color': 'white', 'size': '38'},
 {'brand': 'Adidas', 'color': 'black', 'size': '41'},
 {'brand': 'Nike', 'color': 'orange', 'size': '36'},
 {'brand': 'Nike', 'color': 'black', 'size': '38'},
 {'brand': 'New Balance', 'color': 'black', 'size': '40'},
 {'brand': 'New Balance', 'color': 'pink', 'size': '40'},
 {'brand': 'Adidas', 'color': 'black', 'size': '42'},
 {'brand': 'Adidas', 'color': 'white', 'size': '40'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '38'},
 {'brand': 'Nike', 'color': 'pink', 'size': '41'},
 {'brand': 'Adidas', 'color': 'orange', 'size': '37'},
 {'brand': 'Nike', 'color': 'black', 'size': '44'},
 {'brand': 'Adidas', 'color': 'pink', 'size': '36'},
 {'brand': 'Adidas', 'color': 'white', 'size': '35'},
 {'brand': 'Nike', 'color': 'black', 'size': '38'},
 {'brand': 'Nike', 'color': 'pink', 'size': '42'},
 {'brand': 'New Balance', 'color': 'black', 'size': '43'},
 {'brand': 'Nike', 'color': 'white', 'size': '38'},
 {'brand': 'New Balance', 'color': 'pink', 'size': '39'},
 {'brand': 'Nike', 'color': 'orange', 'size': '39'},
 {'brand': 'New Balance', 'color': 'orange', 'size': '40'},
 {'brand': 'New Balance', 'color': 'white', 'size': '44'},
 {'brand': 'Adidas', 'color': 'black', 'size': '42'},
 {'brand': 'Nike', 'color': 'black', 'size': '35'}]

In [39]:
[one_line.split()[0] 
 for one_line in open('mini-access-log.txt')]

['67.218.116.165',
 '66.249.71.65',
 '65.55.106.183',
 '65.55.106.183',
 '66.249.71.65',
 '66.249.71.65',
 '66.249.65.12',
 '66.249.65.12',
 '66.249.65.12',
 '66.249.65.12',
 '66.249.65.12',
 '65.55.106.131',
 '65.55.106.131',
 '66.249.65.12',
 '66.249.65.12',
 '66.249.65.12',
 '66.249.65.12',
 '66.249.65.12',
 '66.249.65.12',
 '66.249.65.12',
 '65.55.106.186',
 '65.55.106.186',
 '66.249.65.12',
 '66.249.65.12',
 '66.249.65.12',
 '74.52.245.146',
 '74.52.245.146',
 '66.249.65.43',
 '66.249.65.43',
 '66.249.65.43',
 '66.249.65.12',
 '66.249.65.12',
 '66.249.65.12',
 '66.249.65.12',
 '66.249.65.12',
 '66.249.65.12',
 '65.55.207.25',
 '65.55.207.25',
 '66.249.65.12',
 '66.249.65.12',
 '66.249.65.12',
 '66.249.65.12',
 '66.249.65.12',
 '66.249.65.12',
 '66.249.65.12',
 '65.55.207.94',
 '65.55.207.94',
 '66.249.65.12',
 '65.55.207.71',
 '66.249.65.12',
 '66.249.65.12',
 '66.249.65.12',
 '98.242.170.241',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '65.55.207.126',
 '65.55.207.126',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '82.34.9.20',
 '82.34.9.20',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '65.55.106.155',
 '65.55.106.155',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '65.55.207.77',
 '65.55.207.77',
 '66.249.65.38',
 '67.218.116.165',
 '66.249.65.38',
 '208.80.193.28',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '89.248.172.58',
 '89.248.172.58',
 '89.248.172.58',
 '89.248.172.58',
 '89.248.172.58',
 '89.248.172.58',
 '89.248.172.58',
 '89.248.172.58',
 '89.248.172.58',
 '89.248.172.58',
 '89.248.172.58',
 '89.248.172.58',
 '89.248.172.58',
 '89.248.172.58',
 '89.248.172.58',
 '89.248.172.58',
 '89.248.172.58',
 '89.248.172.58',
 '89.248.172.58',
 '89.248.172.58',
 '89.248.172.58',
 '89.248.172.58',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '67.195.112.35',
 '67.195.112.35',
 '67.195.112.35',
 '67.195.112.35',
 '67.195.112.35',
 '67.195.112.35',
 '67.195.112.35',
 '67.195.112.35',
 '67.195.112.35',
 '67.195.112.35',
 '67.195.112.35',
 '67.195.112.35',
 '67.195.112.35',
 '67.195.112.35',
 '67.195.112.35',
 '67.195.112.35',
 '66.249.65.38',
 '65.55.207.50',
 '65.55.207.50',
 '65.55.207.50',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '65.55.215.75',
 '65.55.215.75',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38',
 '66.249.65.38']

In [40]:
# How many times did each ip address access my server?

# Counter

from collections import Counter

Counter([one_line.split()[0]
         for one_line in open('mini-access-log.txt')])

Counter({'66.249.65.38': 100,
         '66.249.65.12': 32,
         '89.248.172.58': 22,
         '67.195.112.35': 16,
         '66.249.71.65': 3,
         '66.249.65.43': 3,
         '65.55.207.50': 3,
         '67.218.116.165': 2,
         '65.55.106.183': 2,
         '65.55.106.131': 2,
         '65.55.106.186': 2,
         '74.52.245.146': 2,
         '65.55.207.25': 2,
         '65.55.207.94': 2,
         '65.55.207.126': 2,
         '82.34.9.20': 2,
         '65.55.106.155': 2,
         '65.55.207.77': 2,
         '65.55.215.75': 2,
         '65.55.207.71': 1,
         '98.242.170.241': 1,
         '208.80.193.28': 1})

In [ ]:
c = Counter([one_line.split()[0]
         for one_line in open('mini-access-log.txt')])

# Counter inherits from dict

for key, value in c.items():
    print(f'{key}: {value}')

67.218.116.165: 2
66.249.71.65: 3
65.55.106.183: 2
66.249.65.12: 32
65.55.106.131: 2
65.55.106.186: 2
74.52.245.146: 2
66.249.65.43: 3
65.55.207.25: 2
65.55.207.94: 2
65.55.207.71: 1
98.242.170.241: 1
66.249.65.38: 100
65.55.207.126: 2
82.34.9.20: 2
65.55.106.155: 2
65.55.207.77: 2
208.80.193.28: 1
89.248.172.58: 22
67.195.112.35: 16
65.55.207.50: 3
65.55.215.75: 2

Counter({'66.249.65.38': 100,
         '66.249.65.12': 32,
         '89.248.172.58': 22,
         '67.195.112.35': 16,
         '66.249.71.65': 3,
         '66.249.65.43': 3,
         '65.55.207.50': 3,
         '67.218.116.165': 2,
         '65.55.106.183': 2,
         '65.55.106.131': 2,
         '65.55.106.186': 2,
         '74.52.245.146': 2,
         '65.55.207.25': 2,
         '65.55.207.94': 2,
         '65.55.207.126': 2,
         '82.34.9.20': 2,
         '65.55.106.155': 2,
         '65.55.207.77': 2,
         '65.55.215.75': 2,
         '65.55.207.71': 1,
         '98.242.170.241': 1,
         '208.80.193.28': 1})

In [44]:
for key, value in c.items():
    print(f'{key:18}: {value * 'x'}')

67.218.116.165    : xx
66.249.71.65      : xxx
65.55.106.183     : xx
66.249.65.12      : xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
65.55.106.131     : xx
65.55.106.186     : xx
74.52.245.146     : xx
66.249.65.43      : xxx
65.55.207.25      : xx
65.55.207.94      : xx
65.55.207.71      : x
98.242.170.241    : x
66.249.65.38      : xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
65.55.207.126     : xx
82.34.9.20        : xx
65.55.106.155     : xx
65.55.207.77      : xx
208.80.193.28     : x
89.248.172.58     : xxxxxxxxxxxxxxxxxxxxxx
67.195.112.35     : xxxxxxxxxxxxxxxx
65.55.207.50      : xxx
65.55.215.75      : xx

In [45]:
# This is a counter method
c.most_common()

[('66.249.65.38', 100),
 ('66.249.65.12', 32),
 ('89.248.172.58', 22),
 ('67.195.112.35', 16),
 ('66.249.71.65', 3),
 ('66.249.65.43', 3),
 ('65.55.207.50', 3),
 ('67.218.116.165', 2),
 ('65.55.106.183', 2),
 ('65.55.106.131', 2),
 ('65.55.106.186', 2),
 ('74.52.245.146', 2),
 ('65.55.207.25', 2),
 ('65.55.207.94', 2),
 ('65.55.207.126', 2),
 ('82.34.9.20', 2),
 ('65.55.106.155', 2),
 ('65.55.207.77', 2),
 ('65.55.215.75', 2),
 ('65.55.207.71', 1),
 ('98.242.170.241', 1),
 ('208.80.193.28', 1)]

In [46]:
c.most_common(5)

[('66.249.65.38', 100),
 ('66.249.65.12', 32),
 ('89.248.172.58', 22),
 ('67.195.112.35', 16),
 ('66.249.71.65', 3)]

In [48]:
usernames = [one_line.split(':')[0]
             for one_line in open('linux-etc-password.txt')
             if ":" in one_line]

In [49]:
usernames

['root',
 'daemon',
 'bin',
 'sys',
 'sync',
 'games',
 'man',
 'lp',
 'mail',
 'news',
 'uucp',
 'proxy',
 'www-data',
 'backup',
 'list',
 'irc',
 'gnats',
 'nobody',
 'syslog',
 'messagebus',
 'landscape',
 'jci',
 'sshd',
 'user',
 'reuven',
 'postfix',
 'colord',
 'postgres',
 'dovecot',
 'dovenull',
 'postgrey',
 'debian-spamd',
 'memcache',
 'genadi',
 'shira',
 'atara',
 'shikma',
 'amotz',
 'mysql',
 'clamav',
 'amavis',
 'opendkim',
 'gitlab-redis',
 'gitlab-psql',
 'git',
 'opendmarc',
 'dkim-milter-python',
 'deploy',
 'redis']

In [51]:
# we can now search for usernames in this list using in

'root' in usernames

True

In [52]:
'reuven' in usernames

True

In [53]:
'billyjoejimbob' in usernames

False

In [ ]:
# If I'm going to be searching a lot through my usernames
# Then I should use a different data type
# sets guarantee uniqueness, in their members
# searching is very fast
# all elements are hashable just like dict keys

usernames = set([one_line.split(':')[0]
             for one_line in open('linux-etc-password.txt')
             if ":" in one_line])

In [54]:
type(usernames)

list

In [55]:
# we can use a set comprehension
# looks almost exactly like a list comprehension
# but it uses {} instead

usernames = {one_line.split(':')[0]
             for one_line in open('linux-etc-password.txt')
             if ":" in one_line}

In [56]:
type(usernames)

set

## Exercise - which shells?

Read through `linux-etc-passwd.txt` and find the different shells that are used in the system.

In [63]:
{
    one_line.split(':')[-1].strip()
    for one_line in open('linux-etc-password.txt')
    if ':' in one_line
}

{'/bin/bash',
 '/bin/false',
 '/bin/nologin',
 '/bin/sh',
 '/bin/sync',
 '/usr/sbin/nologin'}

## Dictionary comprehension

In [ ]:
# I have a string with some words
# I want to create a dict where each word is the key and the word length is the value

s = 'this is a bunch of words'

[one_word
  for one_word in s.split()]

['this', 'is', 'a', 'bunch', 'of', 'words']

In [67]:
# We can invoke dict() on a list of tuples and get back a dictionary

dict([(one_word, len(one_word))
 for one_word in s.split()])

{'this': 4, 'is': 2, 'a': 1, 'bunch': 5, 'of': 2, 'words': 5}

In [68]:
# Dictionary comprehension
# We use curly braces just as with a set comprehension
# but we have *two* expressions in the first line, separated by a colon

{    one_word    :     len(one_word)  # key:value expression
        for one_word in s.split()
}

{'this': 4, 'is': 2, 'a': 1, 'bunch': 5, 'of': 2, 'words': 5}

In [69]:
# I'm going to create a really fast config file with name = value on each line

with open('myconfig.txt', 'w') as outfile:
    for index, one_character in enumerate('abcd', 1):
        outfile.write(f"{one_character}={index}\n")

In [71]:
# I can use a dict comprehension to read this file into a dict
{   one_line.split('=')[0] : one_line.split('=')[1].strip()
    for one_line in open('myconfig.txt')
}

{'a': '1', 'b': '2', 'c': '3', 'd': '4'}

## Exercise: usernames and shells

1. use a dict comprehension to create a dict in which the keys are the usernames and the values are the shells associated with the usernames.

In [74]:
{ one_line.split(':')[0] : one_line.split(':')[-1].strip()
 for one_line in open('linux-etc-password.txt')
 if ':' in one_line
}

{'root': '/bin/bash',
 'daemon': '/usr/sbin/nologin',
 'bin': '/usr/sbin/nologin',
 'sys': '/usr/sbin/nologin',
 'sync': '/bin/sync',
 'games': '/usr/sbin/nologin',
 'man': '/usr/sbin/nologin',
 'lp': '/usr/sbin/nologin',
 'mail': '/usr/sbin/nologin',
 'news': '/usr/sbin/nologin',
 'uucp': '/usr/sbin/nologin',
 'proxy': '/usr/sbin/nologin',
 'www-data': '/usr/sbin/nologin',
 'backup': '/usr/sbin/nologin',
 'list': '/usr/sbin/nologin',
 'irc': '/usr/sbin/nologin',
 'gnats': '/usr/sbin/nologin',
 'nobody': '/usr/sbin/nologin',
 'syslog': '/bin/false',
 'messagebus': '/bin/false',
 'landscape': '/bin/false',
 'jci': '/bin/bash',
 'sshd': '/usr/sbin/nologin',
 'user': '/bin/bash',
 'reuven': '/bin/bash',
 'postfix': '/bin/false',
 'colord': '/bin/false',
 'postgres': '/bin/bash',
 'dovecot': '/bin/false',
 'dovenull': '/bin/false',
 'postgrey': '/bin/false',
 'debian-spamd': '/bin/sh',
 'memcache': '/bin/false',
 'genadi': '/bin/bash',
 'shira': '/bin/bash',
 'atara': '/bin/bash',
 'shikma': '/bin/bash',
 'amotz': '/bin/bash',
 'mysql': '/bin/false',
 'clamav': '/bin/false',
 'amavis': '/bin/sh',
 'opendkim': '/bin/false',
 'gitlab-redis': '/bin/nologin',
 'gitlab-psql': '/bin/sh',
 'git': '/bin/bash',
 'opendmarc': '/bin/false',
 'dkim-milter-python': '/bin/false',
 'deploy': '/bin/bash',
 'redis': '/bin/false'}

## List of lists

In [77]:
# list of lists where inner list contains integers

mylist = [[10, 20, 25],
          [30, 35, 40, 45, 50],
          [60, 70, 80, 90, 100],
          [110, 115, 120, 130, 140, 145]]
mylist

[[10, 20, 25],
 [30, 35, 40, 45, 50],
 [60, 70, 80, 90, 100],
 [110, 115, 120, 130, 140, 145]]

In [78]:
# how can I sum the integers in this nested list?

# first guess: sum! (bad guess)
sum(mylist)

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [ ]:
# guess 2: use a comprehension
# this was my solution -- pretty smart!

sum([sum(one_list)
 for one_list in mylist])

1415

In [80]:
# the school solution: nested comprehension

[one_number
 for one_sublist in mylist
 for one_number in one_sublist
]

[10,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 60,
 70,
 80,
 90,
 100,
 110,
 115,
 120,
 130,
 140,
 145]

In [ ]:
# now sum it
# an iterable of iterables

sum([one_number
 for one_sublist in mylist
 for one_number in one_sublist
])

1415

In [82]:
# now let's throw some ifs in there!

[one_number
 for one_sublist in mylist
 if len(one_sublist) > 3  # only long sublists
 for one_number in one_sublist
 if one_number % 2  # only odd numbers
]

[35, 45, 115, 145]

In [83]:
# you can throw as many if as you like
# they will all be and-ed together

numbers = [10, 20, 30, 35, 40, 50, 55, 60, 70]

[one_number
 for one_number in numbers
 if one_number > 40
 if one_number % 2]

[55]

## Exercise: movie genres

Goal: find the 5 most popular movie genres in `movies.dat`

In [92]:
c = Counter([one_genre
 for one_line in open('movies.dat', encoding='utf8')
 for one_genre in one_line.strip().split('::')[2].split('|')])
c.most_common(5)

[('Drama', 1603),
 ('Comedy', 1200),
 ('Action', 503),
 ('Thriller', 492),
 ('Romance', 471)]

## Generator expression, or generator comprehension

In [ ]:
# tuple comprehension?

(one_number ** 2
 for one_number in range(10))

## What's a generator?

A generator is an object in Python that knows how to behave inside a `for` loop, because it is iterable.

The point of a generator is that it doesn't return all of the elements at once, rather it returns elements one at a time.

A generator expression works just like a list comprehension, except that instead of returning a list with all its elements, it returns a generator object. The object can be put into a `for` loop, or any other iterable context and it will only run the expression when it is asked to, typically, once per iteration.

In [95]:
g = (one_number ** 2
 for one_number in range(10))

g

In [96]:
for one_item in g:
    print(one_item)

0
1
4
9
16
25
36
49
64
81

In [103]:
mylist = [10, 20, 30]

# list comprehension
'*'.join([str(one_item)
              for one_item in mylist])

'10*20*30'

In [106]:
# generator expression
'*'.join((str(one_item)
              for one_item in mylist))

'10*20*30'

In [107]:
# generator expressionwith only one set of parentheses
'*'.join(str(one_item)
              for one_item in mylist)

'10*20*30'

In [109]:
# you can use a generator with a "generator function"
# in such a function, you use yield to return a value
# without exiting the function

def mygen():
    yield 10
    yield 20
    yield 30

g = mygen() 
g

In [110]:
list(g)

[10, 20, 30]

In [112]:
# you can do exactly the same thing
# by writing a function that returns a generator expression

def mygen():
    return (one_number
            for one_number in [10, 20, 30])

mygen()